@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: 'Poppins', sans-serif;
}

body
{
	background:lightblue;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.contenido
{
	position: relative;
	width: 100%;
	max-width: 1000px;
	min-height: 1000px;
	background: #fff;
	margin: 50px;
	display: grid;
	grid-template-columns: 1fr 2fr;
	box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
	
}

.contenido .izquierda
{
	position: relative;
	background: #003147;
	padding: 40px;
}
.perfil_texto
{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 20px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.perfil_texto .imagen_box
{
	position: relative;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	overflow: hidden;
}

.perfil_texto .imagen_box img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.perfil_texto h2
{
	color: #fff;
	font-size: 1.2em;
	margin-top: 20px;
	text-transform: uppercase;
	text-align: center;
	font-weight: 600;
	line-height: 1.4em;
}

.perfil_texto h2 span
{
	font-size: 0.8em;
	font-weight: 300;
}

.info_contacto
{
	padding-top: 30px;
}

.titulo
{
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
	margin-bottom: 20px;
}

.info_contacto ul
{
	position: relative;
}

.info_contacto ul li
{
	position: relative;
	list-style: none;
	margin: 10px 0;
	cursor: pointer;
}

.info_contacto ul li .icono 
{
	display: inline-block;
	width: 30px;
	font-size: 18px;
	color: #03a9f4;
}

.info_contacto ul li span
{
	color: #fff;
	font-weight: 300;
}

.info_contacto ul li a
{
	color: #fff;
	font-weight: 300;
	text-decoration: none;
}

.info_contacto.educacion li 
{
	margin-bottom: 15px;
}

.info_contacto.educacion h5
{
	color: #03a9f4;
	font-weight: 500;
} 

.info_contacto.educacion h4:nth-child(2)
{
	color: #fff;
	font-weight: 500;
}

.info_contacto.educacion h4
{
	color: #fff;
	font-weight: 300;
}

.info_contacto.idioma .porcentaje
{
	position: relative;
	width: 100%;
	height: 6px;
	background: #081921;
	display: block;
	margin-top: 5px;
}

.info_contacto.idioma .porcentaje div 
{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background: #03a9f4;
}

.software .cuadro
{
	position: relative;
	width: 100%;
	display: grid;
	grid-template-columns: 150px 1fr;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	margin: 20px 0;
}


.software .cuadro h5
{
	text-transform: uppercase;
	color: #848c99;
	font-weight: 500;
}

.software .cuadro .porcentaje
{
	position: relative;
	width: 100%;
	height: 8px;
	background: #f0f0f0;
}

.software .cuadro .porcentaje div
{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background: #03a9f4;
}



/**
-----------------------------------------------------------------------------------------------------------------
*/

.contenido .derecha
{
	position: relative;
	background: #fff;
	padding: 40px;
}

.info_perfil
{
	margin-bottom: 30px;
}

.info_perfil:last-child
{
	margin-bottom: 0;
}

.titulo2
{
	color: #003147;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 10px;
}

p
{
	color: #333;
}

.info_perfil .cuadro
{
	flex-direction: row;
	margin: 20px 0;
}

.info_perfil .cuadro .año_trabajo
{
	min-width: 150px;
} 

.info_perfil .cuadro .año_trabajo h5
{
	color: #848c90;
	text-transform: uppercase;
	font-weight: 600;
}

.info_perfil .cuadro .texto h4
{
	color: #2a7da2;
	text-transform: uppercase;
	font-size: 16px;
}

.cursos .cuadro2
{
	display: flex;
	flex-direction: row;
	margin: 30px 10;
}

.cursos .cuadro .año_curso
{
	min-width: 100px;
}

.cursos .cuadro .año_curso h5
{
	color: #848c90;
	text-transform: uppercase;
	font-weight: 600;
}

.info_perfil .cuadro2 .texto h4
{
	color: #2a7da2;
	text-transform: uppercase;
	font-size: 16px;
}


